.cd{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tech_heading_1{
    font-size: x-large;
    text-align: center;
    padding:10%;
}
.tech_heading_1 :hover{
    text-decoration: underline;
}
.tech_discription{
    font-family: 'Orbitron', sans-serif;
    text-align: center;
}
.hello{
    display: none;
}
.list_heading{
    text-align: center;
    padding:10%;
    color: blue;
    display: block;
}
ul{
    text-align: center;
}
@media screen and (max-width:780px) {
    .tech_discription{
        font-family: 'Orbitron', sans-serif;
        text-align: center;
        display: none;
    }
}